.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Grid Starts */

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 4px;
  background: #8b8cbd;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  background: #bbbcd8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", serif;
  font-size: 20px;
}

/* Grid Ends */

.cell-2 {
  background-color: orange;
}

.cell-4 {
  background-color: rgb(39, 207, 207);
}

.cell-8 {
  background-color: pink;
}

.cell-16 {
  background-color: palevioletred;
}

.cell-32 {
  background-color: greenyellow;
}

.cell-64 {
  background-color: burlywood;
}

.cell-128 {
  background-color: goldenrod;
}

.cell-256 {
  background-color: rebeccapurple;
}

.cell-512 {
  background-color: cyan;
}

.cell-1024 {
  background-color: gold;
}

.cell-2048 {
  background-color: aquamarine;
}
